.header {
  background-color: #89967C;
  /* opacity: 0.9; */
  padding: 10px 0;
}

.header-logo {
  display: block;
  filter: blur(5px);
  margin: 0 auto;
  max-width: 280px;
  padding: 0;
  transition: all 2s ease-in-out;
}

.header-logo.loaded {
  filter: none;
}

@media (max-width: 1300px) {
  .header-logo {
    max-width: 200px;
  }
}

@media (max-width: 1000px) {
  .header-logo {
    max-width: 150px;
  }
}

@media (max-width: 800px) {
  .header-logo {
    max-width: 120px;
  }
}

@media (max-width: 600px) {
  .header-logo {
    max-width: 100px;
  }
}