.header {
  background-color: #89967C;
  padding: 2vh;
}

.header-logo {
  display: block;
  margin: 0 auto;
  max-width: 280px;
  padding: 0;
  filter: blur(5px);
  transition: all 1.5s ease-in-out;
}

.header-logo.loaded {
  filter: none; 
}
